<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>TeacherDocs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"><%= content_for :title %></h2>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
        <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
          <%= yield %>
        </div>
        <% if authenticated? %>
          <div class="text-center py-4 text-sm">
            <%= link_to t(".sign_out"), session_path, data: {turbo_method: :delete}, class: "font-semibold leading-6 text-indigo-600 hover:text-indigo-500" %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
